body {
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
}
h4 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
}
.one {
  background-color: #F75990;
}
.two {
  background-color: #FFF685;
}
.three {
  background-color: #00DDFF;
}
p {
  border: 1px solid black;
  padding: 5px;
  padding-top: 45px;
}

.container {
  width: 90%;
  margin: auto;
  background-color: lightgray;
  position: relative;
}


.row {
  width: 100%;
}
.col {
  float: left;
}

@media (max-width: 767px) {
  .col {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col {
    width: 50%;
  }
  .col-special {
    width: 100%;
  }
  .col-special > .container {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .col {
    width: 33%;
  }
}
