body {
  background: lightgray;
  color: #143D59;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  color: #F4B41A;
}
h5 {
  padding-top: 15px;
  text-align: center;
}
.row .container {
  background-color: #143D59;
}

#header-nav {
  background-color: #143D59;
  border: 1px solid black;
}

.header {
  padding: 40px 0 10px;
  text-align: center;
}

#main-content {
  color: #F4B41A;
}
